

# ----------------------------------------------------------------------------
# Rust and Cargo
# ----------------------------------------------------------------------------

target
*.lock


# ----------------------------------------------------------------------------
# Rocq prover
# ----------------------------------------------------------------------------
.lia.cache
*.voc
*.vok
*.glob
*.vo
*.vos
*.aux

# processed output
*.tex
*.log
*.out
*.sty
*.html
*.css

