

# ----------------------------------------------------------------------------
# Rust and Cargo
# ----------------------------------------------------------------------------

target
*.lock


# ----------------------------------------------------------------------------
# Rocq prover
# ----------------------------------------------------------------------------
.lia.cache
*.voc
*.vok
*.glob
*.vo
*.vos
*.aux

